<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ccCreator.css') }}" >
	<head>
	<title>CountyClass Parser creator</title>
	</head>
	<body>
	<div class="header">
		<h1>CountyClass Parser creator: {{ county }}</h1>
	</div><br>
	<a href="{{ url_for('depView', depid=depid) }}">Go back to deposit</a><br>
<div class="main">
   <pre class ="pdf" id="lineval"></pre>  
<textarea class="rocrv" name='ocr_text' style="display:none;">{{ ocr }}</textarea>
<form action="/addParser" method="post" id="createcc">
<input type="hidden" name="depid" value="{{depid}}">
<input type="hidden" name="county" value="{{county}}">
<table>
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="validline" checked="checked"><td/>
<td>valid line: </td>
<td class="validline"><input type="text" name="validline" id="validline" ></td>
</tr>
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="cert"><td/>
<td>cert: </td>
<td class="cert"><input type="text" id="cert" name="cert"></td>
<td><input type="button" name="cert"  value="add to list" onclick="addtextbox('cert')"></td>
</tr>
<tr>
{% if state != 'NJ' %}
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="parcel"><td/>
<td>parcel: </td>
<td class="parcel"><input type="text" name="parcel"  id="parcel" ></td>
<td><input type="button" name="parcel"  value="add to list" onclick="addtextbox('parcel')"></td>
</tr>
<td><input type="radio" name="whichreg" id="whichreg" value="tax-year"><td/>
<td>tax year: </td>
<td class="tax-year"><input type="text" id="tax-year"  name="tax-tear" ></td>
<td><input type="button" name="tax-tear"  value="add to list" onclick="addtextbox('tax-year')"></td>
</tr>
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="lien-year"><td/>
<td>lien year: </td>
<td class="lien-year"><input type="text" name="lien-year" id="lien-year" ></td>
<td><input type="button" name="lien-year"  value="add to list" onclick="addtextbox('lien-year')"></td>
</tr>
{% else %}
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="block"><td/>
<td>block: </td>
<td class="block"><input type="text" id="block" name="block"></td>
<td><input type="button" name="block"  value="add to list" onclick="addtextbox('block')"></td>
</tr>
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="lot"><td/>
<td>lot: </td>
<td class="lot"><input type="text" id="lot"  name="lot" ></td>
<td><input type="button" name="lot"  value="add to list" onclick="addtextbox('lot')"></td>
</tr>
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="qual"><td/>
<td>qual: </td>
<td class="qual"><input type="text" name="qual" id="qual" ></td>
<td><input type="button" name="qual"  value="add to list" onclick="addtextbox('qual')"></td>
</tr>
{% endif %}
<tr>
<td><input type="radio" name="whichreg" id="whichreg" value="total"><td/>
<td>total: </td>
<td class="total"><input name="total" type="text" id="total" ></td>
<td><input type="button" name="total"  value="add to list" onclick="addtextbox('total')"></td>
</tr>
<tr>
<td colspan="2">Multiline:</td>
<td colspan="2"><input type="number" name="multiline" id ="multiline" value="0"></td>
<td colspan="6">Extra lines to be parsed in addition to your specified valid line<br>(<font color="blue"> -</font> for lines above, <font color="blue">+</font> for lines below) <font color="red">*Not regex</font></td>
</tr>
</table>
<input type="hidden" name="whattodo" id="whattodo">
</form>
<h1>Create regex statements</h1>
<select id="ctftype" onchange="regxchange()">
{% for vals in regex.keys() %}
<option value="{{ regex.get(vals) }}">{{ vals }}</option>
{% endfor %}
</select>
<input type="text" id="specificval" placeholder="Enter specified value to look for..."/>
<select id="quantype" onchange="quant()">
{% for vals in quant.keys() %}
<option value="{{ quant.get(vals) }}" id="opt1">{{ vals }}</option>
{% endfor %}
</select>


<font class="getrange"> Between </font>
<input type="number" id="rangeregmin" value="1" class="getrange"/>
<font class="getrange"> and </font>
<input type="number" id="rangeregmax" value="1" class="getrange"/>


<input type="number" id="regmin" value="1" class="getspecific"/>

<input type="button" onclick="regexondropchange()" value="add regex">
	</div><br><br>
<input type="submit" id="submitandpid" value="Submit and create pids">
<input type="submit" id="submitanddep" value="Submit and go to deposits page">
	<br>
		<div class="helpme">
		<h1 class="head">More information</h1>
		<pre>The parser strips information from the ocr text
		using regular expressions or regex. Regex statements are search
		patterns that help identify characters. The user can generate
		regex statements on their own. Parser uses a list of regex 
		statement to get the specific values.</pre>
		<ul>
		<li>Validline: used to identify which line in the document 
		the user would like to strip information from </li>
		<li>Multiline: selects additional lines to be parsed</li>
		</ul>
		<input type="button" value="close" onclick="togglehelp()">
		</div>
		<a class="gethelp" onclick="gethelp()" href="#">Need help?</a>
	</body>
	<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	function gethelp(){
		$('.helpme').show();
		$("body").children(":not(.helpme)").fadeTo('fast',0.15);
		$("script").hide();
	}
	function togglehelp(){
		$('.helpme').hide();
		$("body").children(":not(.helpme)").fadeTo('fast',1);
		$("script").hide();
	}
	$(document).ready( function(){
		$("body").on('click', '#submitandpid', function(){
			$("#whattodo").val("pids");
			$("#createcc").submit();
		});
	});
	$(document).ready( function(){
		$("body").on('click', '#submitanddep', function(){
			$("#createcc").submit();
		});
	});
	$(document).ready( function(){
		$("body").on('click', '#validlinelink', function(){
		$("#validline").remove();
		var index = $("[name=validline]").length;
 		switch(index){
		case 1:
			$("#validline1").attr("id", "validline");
			$("#validlinelink").remove();
			break;
		case 2:
			$("#validline1").attr("id", "validline");
			$("#validline2").attr("id", "validline1");
			break;
		} 
		});
	});
	$(document).ready( function(){
		$("body").on('click', '#blocklink', function(){
		$("#block").remove();
		var index = $("[name=block]").length;
 		switch(index){
		case 2:
			$("#block1").attr("id", "block");
			$("#blocklink").remove();
			break;
		case 3:
			$("#block1").attr("id", "block");
			$("#block2").attr("id", "block1");
			break;
		} 
		});
	});
	$(document).ready( function(){
		$("body").on('click', '#lotlink', function(){
		$("#lot").remove();
		var index = $("[name=lot]").length;
 		switch(index){
		case 2:
			$("#lot1").attr("id", "lot");
			$("#lotlink").remove();
			break;
		case 3:
			$("#lot1").attr("id", "lot");
			$("#lot2").attr("id", "lot1");
			break;
		} 
		});
	});
	$(document).ready( function(){
		$("body").on('click', '#quallink', function(){
		$("#qual").remove();
		var index = $("[name=qual]").length;
 		switch(index){
		case 2:
			$("#qual1").attr("id", "qual");
			$("#quallink").remove();
			break;
		case 3:
			$("#qual1").attr("id", "qual");
			$("#qual2").attr("id", "qual1");
			break;
		} 
		});
	});

	$(document).ready( function(){
		$("body").on('click', '#parcellink', function(){
		$("#parcel").remove();
		var index = $("[name=parcel]").length;
 		switch(index){
		case 2:
			$("#parcel1").attr("id", "parcel");
			$("#parcellink").remove();
			break;
		case 3:
			$("#parcel1").attr("id", "parcel");
			$("#parcel2").attr("id", "parcel1");
			break;
		} 
		});
	});

	$(document).ready( function(){
		$("body").on('click', '#certlink', function(){
		$("#cert").remove();
		var index = $("[name=cert]").length;
 		switch(index){
		case 2:
			$("#cert1").attr("id", "cert");
			$("#certlink").remove();
			break;
		case 3:
			$("#cert1").attr("id", "cert");
			$("#cert2").attr("id", "cert1");
			break;
		} 
		});
	});

	$(document).ready( function(){
		$("body").on('click', '#tax-yearlink', function(){
		$("#tax-year").remove();
		var index = $("[name=tax-year]").length;
 		switch(index){
		case 2:
			$("#tax-year1").attr("id", "tax-year");
			$("#tax-yearlink").remove();
			break;
		case 3:
			$("#tax-year1").attr("id", "tax-year");
			$("#tax-year2").attr("id", "tax-year1");
			break;
		} 
		});
	});

	$(document).ready( function(){
		$("body").on('click', '#lien-yearlink', function(){
		$("#lien-year").remove();
		var index = $("[name=lien-year]").length;
 		switch(index){
		case 2:
			$("#lien-year1").attr("id", "lien-year");
			$("#lien-yearlink").remove();
			break;
		case 3:
			$("#lien-year1").attr("id", "lien-year");
			$("#lien-year2").attr("id", "lien-year1");
			break;
		} 
		});
	});

	$(document).ready( function(){
		$("body").on('click', '#totallink', function(){
		$("#total").remove();
		var index = $("[name=total]").length;
 		switch(index){
		case 2:
			$("#total1").attr("id", "total");
			$("#totallink").remove();
			break;
		case 3:
			$("#total1").attr("id", "total");
			$("#total2").attr("id", "total1");
			break;
		} 
		});
	});
	function addtextbox(varname){
		var classname = "."+varname;
		var idname = "#"+varname;
		var index = $("[name="+varname+"]").length;
		if(index == 4){
			alert("List amount exceeded")
			return;
		}
		if(varname != 'validline'){
			$("#"+varname+"link").remove();
	 		switch(index){
			case 2:
				document.getElementById(varname).id = varname+"1";
				break;
			case 3:
				document.getElementById(varname).id = varname+"1";
				document.getElementById(varname+'1').id = varname+"2";
				break;
			} 
			$(classname).append('<input name='+varname+' type="text" id='+varname+' ><input type="button" id="'+varname+'link" value="remove">');		
		}
	}
	
	function quant(){
		var x = document.getElementById("quantype").selectedIndex;
		var getlabel = document.getElementById("quantype").options[x].label;
		switch(true){
		case getlabel.includes("range"):
			$(".getrange").show();
			$(".getspecific").hide();
			break;
		case getlabel.includes("specific number or more"):
			$(".getspecific").show();
			$(".getrange").hide();
			break;
		case getlabel.includes("specific number of ins"):
			$(".getspecific").show();
			$(".getrange").hide();
			break;
		default:
			$(".getrange").hide();
			$(".getspecific").hide();
		}
	}
	function regexondropchange(){
		var x = document.getElementById("ctftype").selectedIndex;
		var lab = document.getElementsByTagName("option")[x].label;
		regxchange();
		quant();
		var whichreg = "#"+ $("input[name='whichreg']:checked").val();
		var whichregnohash = $("input[name='whichreg']:checked").val();
		var val1 = $('#ctftype').val();
		var val2 = $('#quantype').val();
		if(val1.includes("(REPLACE LETTER)")){
			val1 = val1.replace("(REPLACE LETTER)",$("#specificval").val())
		}
		if(val2.includes("(REPLACE VALUE)")){
			val2 = val2.replace("(REPLACE VALUE)",$("#regmin").val())
		}
		if(val2.includes("(REPLACE NUMBER)")){
			val2 = val2.replace("(REPLACE NUMBER)",$("#regmin").val())
		}
		if(val2.includes("(REPLACE MIN)")&&val2.includes("(REPLACE MAX)")){
			val2 = val2.replace("(REPLACE MIN)",$("#rangeregmin").val())
			val2 = val2.replace("(REPLACE MAX)",$("#rangeregmax").val())
		}
		if(lab.includes("date")||lab.includes("money")|| lab.includes("of line")){
		    var reg = $(whichreg).val() + val1;
		}else{
	    	var reg = $(whichreg).val() + val1 + val2;
		}
	    document.getElementById(whichregnohash).value = reg;
	    var valreg = new RegExp(reg,"g");
	    var a = $('.rocrv').val();
	    a = a.replace(/&/g,'and');
	    a = a.replace(valreg,"<mark>$&</mark>");
	    $('#lineval').html(a);
	}
	$(whichreg).on("keyup keydown input keypress paste mouseup load", function () {
		updatereg();
	});
	function regxchange(){
		quant();
		var x = document.getElementById("ctftype").selectedIndex;
		var lab = document.getElementsByTagName("option")[x].label;
		switch(true){
		case lab.includes('date'):
			$("#quantype").hide();
			$("#specificval").hide();
			$(".getspecific").hide();
			$(".getrange").hide();
			break;
		case lab.includes('end of line'):
			$("#quantype").hide();
			$("#specificval").hide();
			$(".getspecific").hide();
			$(".getrange").hide();
			break;
		case lab.includes('beginning of line'):
			$("#quantype").hide();
			$("#specificval").hide();
			$(".getspecific").hide();
			$(".getrange").hide();
			break;
		case lab.includes('money'):
			$("#quantype").hide();
			$("#specificval").hide();
			$(".getspecific").hide();
			$(".getrange").hide();
			break;
		case lab.includes('specific'):
			$("#quantype").show();
			$("#specificval").show();
			break;
		default:
			$("#quantype").show();
			$("#specificval").hide();
		}
	}
	$(document).ready(function () { 
		updatereg();
	});
	 function updatereg() {
			regxchange();
			quant();
			var whichreg = "#"+ $("input[name='whichreg']:checked").val();
			var whichregnohash = $("input[name='whichreg']:checked").val();
			var reg = $(whichreg).val();
		    var valreg = new RegExp(reg,"g");
		    var a = $('.rocrv').val();
		    a = a.replace(/&/g,'and');
		    a = a.replace(valreg,"<mark>$&</mark>");
		    $('#lineval').html(a);
		}	 
	 

	$("input[type='text']").on("keyup keydown input keypress paste mouseup load", function () { 
		var whichreg = "#"+ $("input[name='whichreg']:checked").val();
		var whichregnohash = $("input[name='whichreg']:checked").val();
		var reg = $(whichreg).val();
	    var valreg = new RegExp(reg,"g");
	    var a = $('.rocrv').val();
	    a = a.replace(/&/g,'and');
	    a = a.replace(valreg,"<mark>$&</mark>");
	    $('#lineval').html(a);
	});
	</script>
</html>