<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dailycheck.css') }}" >
<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/fig-logo.jpg') }}" />
	<head>
	<title>{{disfn}}: {{depid}}</title>
	</head>
	<body>
	<ul class="header1">
		<li style="float:left;">
	<img src="{{ url_for('static', filename = 'images/FinchIcon_Reversed_Red.jpg') }}"></li>
	<li style="float:left;"><h1>{{disfn}}: {{depid}}</h1></li>
	<li style="float:left;" class="drop">
		<a href = "{{ url_for('dailyCheck',state = None) }}">Home</a>
		<div class="drop-cont">
		{% for state in stateslist %}
		<a href = "{{ url_for('dailyCheck',state = state) }}">{{ state }}</a>
		{% endfor %}
		</div></li>
	<li><form method="post" action="/searchdep" class="searchid">
	<table><tr><th>Search Deposit</th></tr>
	<tr><td><input type="search" name ="depid" placeholder="Enter deposit id...."></td>
	</tr></table></form></li>
	<li><a href = "{{ url_for('reports', state = None) }}">Reports</a></li>
	</ul>
	{% if depstate == 'NJ' and pid.get('old_fig_deposits_record_id')|length > 0 %}
	<br>
	<form action="/njCalc" method="post" target="_blank">
	<input type="hidden" name="depid" value="{{ depid }}">
	<input type="hidden" name="dfn" value="{{ countyname }}">
	<input type="submit" class=upocr value="NJ calc">
	</form>
	{% endif %}
	{% if contact is not none %}
	<br><br>
	<h3 class="head">County contact info</h3>
	{% block contactinfo %}
	{{ contact | safe }}
	{% endblock %}<br>
	{% endif %}
				
	{% if redsite is not none %}
	<br><br>
	<table class="dataframe">
	<tbody>
	<tr><th colspan="2">Redemption site information</th></tr>
	{% for key in redsite.keys() %}
	<tr>
	{% if key == 'url' %}
	<th>{{ key }}</th><td><a href="{{ redsite.get(key) }}" target="_blank">{{ redsite.get(key) }}</a><td>
	{% else %}
	<th>{{ key }}</th><td>{{ redsite.get(key) }}<td>
	{% endif %}
   </tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}
	<div class = "helptab">
	<br><hr>
	{% if val|length > 0 %}
	<div class="tab1"><br><br>
	<font class="captionsfortab">Parser type: </font>
	<select id="ctftype" onchange="ondropchange()">
	<option value="main">main</option>
	{% for key in val.keys() %}
	{% if key == 'main' %}
	{% else %}
	<option value="{{ key }}">{{ key }}</option>
	{% endif %}
	{% endfor %}
	</select>
	<font class ="captionsfortab"> Item being Parsed: </font>
	<select id="regtype" onchange="ondropchange()">
	<option value="validLine">valid line</option>
	<option value="cert">cert</option>
	{% if depstate != 'NJ' %}
	<option value="parcel">parcel</option>
	{% else %}
	<option value="block">block</option>
	<option value="lot">lot</option>
	<option value="qual">qual</option>
	{% endif %}
	<option value="total">total</option>
	</select><br>
	<font class ="captionsfortab"> Additional lines being parsed (Negative for lines above): </font>
	<input type="number" id="multiline" readonly>
	{% for key in val.keys() %}
		{% for key1 in val.get(key).keys() %}
		<input type="hidden" id="{{ key + '-'+key1 }}" value="{{ val.get(key).get(key1) }}">
		{% endfor %}
	{% endfor %}
	</div>
	<div class = "wrapthis">
	<h2 class="head">Quickbase id: <a onclick="window.open('{{qbpath}}','_blank')" style="text-shadow:none;" href="#">{{ dep_rec_id }}</a></h2>
    <pre class ="pdf" id="lineval"  onscroll="handleScroll1()"></pre>  
 	<div class="ocr">
 	{% else %}
	<h3 class="head">Quickbase id: {{ dep_rec_id }}</h3>
   <div class="ocr2">
 	{% endif %}
	<h3 class="head">Ocr_Text</h3>
	<form method="post" action="/Updateocr">
	<input type="hidden" name="depid" value="{{ depid }}">
	<textarea class="rocrv" name='ocr_text'>{{ocr}}</textarea>
	<input type="submit" value ="Update Ocr Text" class=upocr> 
	</form>
	<form method="post" action="/CreateOcrfromfile" enctype = "multipart/form-data" class="ocrclass">
	Clockwise: <input type="checkbox" name="clock">
	Counter Clockwise: <input type="checkbox" name="counterclock"><br>
	<input type="hidden" name="depid" value="{{ depid }}">
	<input type="hidden" name="dep_rec_id" value="{{ dep_rec_id }}">
 	<input type="file" name="newfile">
	<input type="submit" value ="Create Ocr Text" class=upocr></form>
	</div><br>
	<table class="dataframe">
		<thead>
		<tr><th colspan="5">Check difference</th></tr>
		</thead>
		<tbody>
		<tr>
		<td>District_full_name</td><td>Deposit_amount</td>
		<td>Invoiced difference</td>
				<td><form action="/ccCreator" method="post">
				<input type="hidden" name="depid" value="{{ depid }}">
				<input type="hidden" name="state" value="{{ depstate }}">
				<input type="hidden" name="county" value="{{ countyname }}">
				<input type="hidden" name="ocr" value="{{ ocr }}">
				<input type="submit" value="Create parser" class=upocr2>
				</form></td>
		</tr>
			<tr>
				<td>{{ disfn }}: {{ depid }}</td>
				<td>{{ dep_am }}</td>
				{% if diff == 0.00 or diff == None %}
					<td>{{ diff }}</td>
				{% else %}
					<td><font color="red">{{ diff }}</font></td>
				{% endif %}
				<td><form action="/autoRedeem_sp" method="post">
				<input type ="hidden" name = "depid" value = "{{depid}}">
				<input type ="hidden" name = "depstate" value = "{{depstate}}">
				<input type="submit" value="Redeem" class=upocr2>
				</form></td>
			</tr>
		</tbody>
	</table><br>
	<h3 class="head">Parcels In Deposits</h3>
	<hr>
	<form method="post" action="/addPid">
	<input type ="hidden" name = "dpid" value = "{{depid}}">
	<table class="dataframe2">
	<thead>
		<tr class="thead">
			<th colspan="2">Add record to PID</th>
		</tr>
		</thead>
	<tbody>
		<tr>
			<td>active_lien_number</td><td><input type="text" name="lien" /></td>
		</tr>
		{% if depstate != 'NJ' %}
		<tr>
			<td>active_parcel</td><td><input type="text" name="parcel" /></td>
		</tr>
		<tr>
			<td>tax_year</td><td><input type="text" name="taxyear" /></td>
		</tr>
		<tr>
			<td>lien_year</td><td><input type="text" name="lienyear" /></td>
		</tr>
		{% else %}
		<tr>
			<td>block</td><td><input type="text" name="block"/></td>
		</tr>
		<tr>
			<td>lot</td><td><input type="text" name="lot"/></td>
		</tr>
		<tr>
			<td>qual</td><td><input type="text" name="qual"/></td>
		</tr>
		{% endif %}
		<tr>
			<td>total_per_parcel</td><td><input type="text" name="total" /></td>
		</tr>
		<tr>
			<td></td><td><input type="submit" value="add pid"></td>
		</tr>
		</tbody>
	</table></form>
	<div class = "pid">
	<form method="post" action="/DeletePid">
		<input type = "hidden" name="depid" value="{{ depid }}">
		<input type = "submit" value="Delete Pid records" class=upocr>
	</form>
	<form method="post" action="/CreatePidSp" class="pickparse">
	<strong>Parser types:</strong>
	<input type="hidden" name="state" value="{{ depstate }}">
	{% if depstate == 'NJ' %}
		Backup: <input type="checkbox"  name="backup">
		dub: <input type="checkbox"  name="dub">
		{% else %}
		Clerk doc: <input type="checkbox" name="clerk">
		Backup: <input type="checkbox"  name="dub">
		Dub: <input type="checkbox"  name="azdub">
	{% endif %}
		One offs: <input type="checkbox"  name="oneoffs">
		<input type = "hidden" name="depid" value="{{ depid }}">
		<input type = "submit" value="Generate Pid records" class=upocr>
	</form>
		<h3 class="head2">Parcels in deposits records for this deposit</h3>
	{% if pid.get('old_fig_deposits_record_id')|length > 0 %}
	<form method='post' action="/DeleteAPid/{{depid}}" class="deppidform">
	<table class="dataframe">
	<thead>
	<tr>
   <th></th>
   {% for result in pid.keys() %}
   {% if depstate != 'NJ' %}
	   {%if result == 'id' %}
	   {%elif result == 'block' %}
	   {%elif result == 'lot' %}
	   {%elif result == 'qual' %}
	   {% else %}
		<th>{{ result }}</th>
		{% endif %}
	{% else %}
	   {%if result == 'id' %}
	   {%elif result == 'active_parcel' %}
	   {%elif result == 'tax_year' %}
	   {%elif result == 'lien_year' %}
	   {% else %}
		<th>{{ result }}</th>
		{% endif %}
	{% endif %}
	{% endfor %}
	<th></th>
	</tr>
	</thead>
	<tbody>
	{% for row in range(pid.get('old_fig_deposits_record_id')|length) %}
	<tr>
	<td><input type="checkbox" name="{{ pid.get('id')[row] }}"></td>
		{% for key in pid.keys() %}
		{%if depstate != 'NJ'%}
			{% if key == 'id' %}
			{% elif key == 'block' %}
			{% elif key == 'lot' %}
			{% elif key == 'qual' %}
			{% else %}
		        {% if pid.get('active_parcel')[row] == '' and pid.get('active_lien_number')[row] == None %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% elif pid.get('active_parcel')[row] == None and pid.get('active_lien_number')[row] == '' %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% elif pid.get('active_parcel')[row] == '' and pid.get('active_lien_number')[row] == '' %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% else %}
		        <td>{{ pid.get(key)[row] }}</td>
				{% endif %}
			{% endif %}
		{% else %}
			{% if key == 'id' %}
			{% elif key == 'active_parcel' %}
			{% elif key == 'tax_year' %}
			{% elif key == 'lien_year' %}
			{% else %}
		        {% if pid.get('block')[row] == '' and pid.get('lot')[row] == '' and pid.get('active_lien_number')[row] == '' %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% elif pid.get('block')[row] == 'None' and pid.get('lot')[row] == 'None' and pid.get('active_lien_number')[row] == '' %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% elif (pid.get('block')[row] == '' or pid.get('lot')[row] == '') and pid.get('active_lien_number')[row] == 'None' %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% elif (pid.get('block')[row] == '' or pid.get('lot')[row] == '') and pid.get('active_lien_number')[row] == '' %}
		        <td><font color="red">{{ pid.get(key)[row] }}</font></td>
		        {% else %}
		        <td>{{ pid.get(key)[row] }}</td>
				{% endif %}
			{% endif %}
		{% endif %}
		{% endfor %}
		<td><input type="button" value="Edit" onclick="window.open('{{ url_for('editPid', pidid = pid.get('id')[row], state=depstate) }}','editframe','resizable=no,location=no,menubar=no,titlebar=no,toolbar=no,height=300,width=300')"></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	<input type="submit" value="delete pids" class=upocr>
	</form>
	{% else %}
	<p>No pids</p>
	{% endif %}
	</div><br>
	{%if payment is not none %}
	<h3 class="head">Payment records</h3>
	<hr>
	{% block payments %}
	{{ payment | safe }}
	{% endblock %}
	{% endif %}
	
<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function () {
	    var reg = "#" + $('#ctftype').val() + "-"+ $("#regtype").val();
	    var regx = $(reg).val();
	    var mult = "#" + $('#ctftype').val() + "-multiline";
	    var valreg = new RegExp(regx,"g");
		$("#fordoc").addClass("activetab");
		$("#forval").addClass("tabclick");
	    var mult = "#" + $('#ctftype').val() + "-multiline";
	    document.getElementById("multiline").value = $(mult).val();
	    var a = $('.rocrv').val();
	    a = a.replace(/&/g,'and');
	    a = a.replace(valreg,"<mark>$&</mark>");
	    $('#lineval').html(a);
	});
	$('.rocrv').on("keyup keydown input keypress paste mouseup load", function () { 
	    var reg = "#" + $('#ctftype').val() + "-"+ $("#regtype").val();
	    var regx = $(reg).val();
	    var mult = "#" + $('#ctftype').val() + "-multiline";
	    document.getElementById("multiline").value = $(mult).val();
	    var valreg = new RegExp(regx,"g");
	    var a = $('.rocrv').val();
	    a = a.replace(/&/g,'and');
	    a = a.replace(valreg,"<mark>$&</mark>");
	    $('#lineval').html(a);
	});
	function shiftpdf(){
		$("#doc").show();
		$("#ctftype").hide();
		$("#regtype").hide();
		$("#lineval").hide();
		$(".captionsfortab").hide();
		$("#multiline").hide();
		$("#fordoc").removeClass("tabclick");
		$("#fordoc").addClass("activetab");
		$("#forval").removeClass("activetab");
		$("#forval").addClass("tabclick");
	}
	function shiftval(){
		$("#doc").hide();
		$("#ctftype").show();
		$("#regtype").show();
		$("#lineval").show();
		$(".captionsfortab").show();
		$("#multiline").show();
	    var mult = "#" + $('#ctftype').val() + "-multiline";
	    document.getElementById("multiline").value = $(mult).val();
		$("#forval").removeClass("tabclick");
		$("#forval").addClass("activetab");
		$("#fordoc").removeClass("activetab");
		$("#fordoc").addClass("tabclick");
		}
	function handleScroll(){
		var scrolltop = $(".rocrv").scrollTop();
		var scrollleft = $(".rocrv").scrollLeft();
		$("#lineval").scrollTop(scrolltop);
		$("#lineval").scrollleft(scrollleft);
	}
	function handleScroll1(){
		var scrolltop = $("#lineval").scrollTop();
		var scrollleft = $("#lineval").scrollLeft();
		$(".rocrv").scrollTop(scrolltop);
		$(".rocrv").scrollleft(scrollleft);
	} 
	function ondropchange(){ 
	    var reg = "#" + $('#ctftype').val() + "-"+ $("#regtype").val();
	    var mult = "#" + $('#ctftype').val() + "-multiline";
	    document.getElementById("multiline").value = $(mult).val();
	    var regx = $(reg).val();
	    var valreg = new RegExp(regx,"g");
	    var a = $('.rocrv').val();
	    a = a.replace(/&/g,'and');
	    a = a.replace(valreg,"<mark>$&</mark>");
	    $('#lineval').html(a);
	}
	</script>
	</body>
</html>