<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dailycheck.css') }}" >
<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/fig-logo.jpg') }}" />
	<head>
	<title>{{disfn}}: {{depid}}</title>
	</head>
	<body>
	<h3 class="head">District name: <font style="text-shadow:none;">{{ disfn }}</font></h3>
	{% if pid.get('old_fig_deposits_record_id')|length > 0 %}
	{% block calc %}
	{{ calcs | safe }}
	{% endblock %}
	{% else %}
	<p>No pids yet</p>
	{% endif %}
	<br>
	</body>
</html>