<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dailycheck.css') }}" >
<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/fig-logo.jpg') }}" />
	<head>
	<title>Reports and charts</title>
	</head>
	<body>
	
	<ul class="header1">
		<li style="float:left;">
	<img src="{{ url_for('static', filename = 'images/FinchIcon_Reversed_Red.jpg') }}"></li>
	<li style="float:left;"><h1>Reports and Charts</h1></li>
	<li style="float:left;" class="drop">
		<a href = "{{ url_for('dailyCheck',state = None) }}">Home</a>
		<div class="drop-cont">
		{% for state in stateslist %}
		<a href = "{{ url_for('dailyCheck',state = state) }}">{{ state }}</a>
		{% endfor %}
		</div></li>
	<li><form method="post" action="/searchdep" class="searchid">
	<table><tr><th>Search Deposit</th></tr>
	<tr><td><input type="search" name ="depid" placeholder="Enter deposit id...."></td>
	</tr></table></form></li>
	</ul>

	<div class="main">
	<ul class = "county">
	<li class = "mainlist">
	<a class="maincounty" href="{{ url_for('reports') }}" target="_self">All 
	</a>
	</li>
	{% for state in states_for_today %}
	<li class = "mainlist">
	<a class="maincounty" href="{{ url_for('reports_for_state', state=state) }}" target="_self" style="font-size:large;">{{state}} 
	</a>
	</li>
	{% endfor %}		
	</ul><br><br>
	<p class=rephead>deposit_vs_payments</p>
	<p2>Check for deposit amount against total invoiced</p2>
	<hr>
	{% block depvpay %}
	{{deposit_vs_payments | safe }}
	{% endblock %}
	<p class=rephead>payment_high_int</p>
	<p2>Check for payments with high interest.</p2>
	<hr><br>
	{%if payment_high_int|length > 0%}
	<table class="report">
	<thead>
	<tr>
   {% for result in payment_high_int.keys() %}
		{%if result == 'record_id'%}
		{% else %}
	<th>{{ result }}</th>
	{% endif %}
	{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for row in range(payment_high_int.get('record_id')|length) %}
	<tr>
		{% for key in payment_high_int.keys() %}
		{%if key == 'record_id'%}
		{% elif key == 'deposits record id'%}
		<td><a href="{{payment_high_int.get('record_id')[row]}}" target="_blank">{{ payment_high_int.get(key)[row] }}</a></td>
		{% elif key == 'old fig deposits record id'%}
		<td><a href="{{url_for('depView',depid = payment_high_int.get('old fig deposits record id')[row])}}" target="_blank">{{ payment_high_int.get(key)[row] }}</a></td>
		{% else %}
		<td>{{ payment_high_int.get(key)[row] }}</td>
		{% endif %}	
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>
	<pre id="message_int">{{payment_high_int_message}}</pre>
	{% else %}
	<pre>No issues today</pre>
	{% endif %}
	</div>
	<br><br>
	<p class=rephead>payment_partial</p>
	<p2>Check for partial payments where the invoiced totals are greater than zero.</p2>
	<hr><br>
	{%if payment_partial|length > 0%}
	<table class="report">
	<thead>
	<tr>
   {% for result in payment_partial.keys() %}
		{%if result == 'record_id'%}
		{% else %}
	<th>{{ result }}</th>
	{% endif %}
	{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for row in range(payment_partial.get('record_id')|length) %}
	<tr>
		{% for key in payment_partial.keys() %}
		{%if key == 'record_id'%}
		{% elif key == 'deposits record id'%}
		<td><a href="{{payment_partial.get('record_id')[row]}}" target="_blank">{{ payment_partial.get(key)[row] }}</a></td>
		{% elif key == 'old fig deposits record id'%}
		<td><a href="{{url_for('depView',depid = payment_partial.get('old fig deposits record id')[row])}}" target="_blank">{{ payment_partial.get(key)[row] }}</a></td>
		{% else %}
		<td>{{ payment_partial.get(key)[row] }}</td>
		{% endif %}	
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>
	{% else %}
	<pre>No issues today</pre>
	{% endif %}
	<br><br>
	<p class=rephead>payment_error_upf</p>
	<p2>Check for all partial payments. Payments with nothing invoiced has to be removed. The link below is a report for payments with zero invoiced purchase amounts and zero invoice total.</p2>
	<hr><br>
	<a href="https://fig.quickbase.com/db/bk2rg4v85?a=q&qid=89" target="_blank">Payments with No Invoice</a><br><br>
	{%if payment_error_upf|length > 0%}
	<table class="report">
	<thead>
	<tr>
   {% for result in payment_error_upf.keys() %}
		{%if result == 'record_id'%}
		{% else %}
	<th>{{ result }}</th>
	{% endif %}
	{% endfor %}
	</tr>
	</thead>
	<tbody>
	{% for row in range(payment_error_upf.get('record_id')|length) %}
	<tr>
		{% for key in payment_error_upf.keys() %}
		{%if key == 'record_id'%}
		{% elif key == 'deposits record id'%}
		<td><a href="{{payment_error_upf.get('record_id')[row]}}" target="_blank">{{ payment_error_upf.get(key)[row] }}</a></td>
		{% elif key == 'old fig deposits record id'%}
		<td><a href="{{url_for('depView',depid = payment_error_upf.get('old fig deposits record id')[row])}}" target="_blank">{{ payment_error_upf.get(key)[row] }}</a></td>
		{% else %}
		<td>{{ payment_error_upf.get(key)[row] }}</td>
		{% endif %}	
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>
	{% else %}
	<pre>No issues today</pre>
	{% endif %}
	</div><br><br>
  <p class=rephead>payment_negative_invoice error</p>
	<p2>Check for negative invoiced interest and negative invoiced totals.</p2>
  <hr><br>
  {%if payment_neg_inv|length > 0%}
  <table class="report">
  <thead>
  <tr>
   {% for result in payment_neg_inv.keys() %}
    {%if result == 'record_id'%}
    {% else %}
  <th>{{ result }}</th>
  {% endif %}
  {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in range(payment_neg_inv.get('record_id')|length) %}
  <tr>
    {% for key in payment_neg_inv.keys() %}
    {%if key == 'record_id'%}
    {% elif key == 'deposits record id'%}
    <td><a href="{{payment_neg_inv.get('record_id')[row]}}" target="_blank">{{ payment_neg_inv.get(key)[row] }}</a></td>
		{% elif key == 'old fig deposits record id'%}
		<td><a href="{{url_for('depView',depid = payment_neg_inv.get('old fig deposits record id')[row])}}" target="_blank">{{ payment_neg_inv.get(key)[row] }}</a></td>
    {% else %}
    <td>{{ payment_neg_inv.get(key)[row] }}</td>
    {% endif %} 
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <pre>No issues today</pre>
  {% endif %}
	<br><br>
  <p class=rephead>dep_over_under</p>
	<p2>Check for deposits that are over or under-applied. (Deposit total not equal to deposit amount)</p2>
  <hr><br>
  {%if dep_over_under|length > 0%}
  <table class="report">
  <thead>
  <tr>
   {% for result in dep_over_under.keys() %}
    {%if result == 'record_id'%}
    {% else %}
  <th>{{ result }}</th>
  {% endif %}
  {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in range(dep_over_under.get('record_id')|length) %}
  <tr>
    {% for key in dep_over_under.keys() %}
    {%if key == 'record_id'%}
    <td><a href="{{dep_over_under.get('record_id')[row]}}" target="_blank">{{ dep_over_under.get(key)[row] }}</a></td>
	{% elif key == 'old fig deposits record id'%}
		<td><a href="{{url_for('depView',depid = dep_over_under.get('old fig deposits record id')[row])}}" target="_blank">{{ dep_over_under.get(key)[row] }}</a></td>
    {% else %}
    <td>{{ dep_over_under.get(key)[row] }}</td>
    {% endif %} 
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <pre>No issues today</pre>
  {% endif %}
  <br><br>
  <p class=rephead>payment_redemption_review</p>
	<p2>Check for unpaid face on a lien and/or parcel. </p2>
  <hr><br>
  {%if payment_redemption_review|length > 0%}
  <table class="report">
  <thead>
  <tr>
   {% for result in payment_redemption_review.keys() %}
    {%if result == 'record_id'%}
    {% else %}
  <th>{{ result }}</th>
  {% endif %}
  {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in range(payment_redemption_review.get('record_id')|length) %}
  <tr>
    {% for key in payment_redemption_review.keys() %}
    {%if key == 'record_id'%}
    {% elif key == 'deposits record id'%}
    <td><a href="{{payment_redemption_review.get('record_id')[row]}}" target="_blank">{{ payment_redemption_review.get(key)[row] }}</a></td>
	{% elif key == 'old fig deposits record id'%}
		<td><a href="{{url_for('depView',depid = payment_redemption_review.get('old fig deposits record id')[row])}}" target="_blank">{{ payment_redemption_review.get(key)[row] }}</a></td>
    {% else %}
    <td>{{ payment_redemption_review.get(key)[row] }}</td>
    {% endif %} 
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <pre>No issues today</pre>
  {% endif %}
  <br><br>
     </div>
	</body>
</html>